#################
## Windows detritus
#################

# Windows image file caches
.DS_Store
Thumbs.db
ehthumbs.db
*.*db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Intellectual Property
.project/development/

# Node
node_modules/
./backend/node_modules/
.env